<% breadcrumb :plataforma, @proveedor %>

<%- model_class = Proveedor -%>
<div class="col-md-12">
  <div class="well col-md-12 ">
    <dl class="dl-horizontal">
      <dt><%= t('mio.curso_nombre') %>:</dt>
      <dd><%= @proveedor.nombre %></dd>
      <dt>Url:</dt>
      <dd><%= @proveedor.url %></dd>

    </dl>

    <div class="panel-footer">
      <%= link_to proveedores_path, :class => 'btn btn-default' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        <%= t('.back', :default => t("helpers.links.back", :default => 'Volver')) %>
      <% end %>
      <%= link_to edit_proveedor_path(@proveedor), :class => 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        <%= t('.edit', :default => t("helpers.links.edit", :default => 'Editar')) %>
      <% end %>

      <%= link_to proveedor_path(@proveedor), :method => 'delete', :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => "¿Eliminar la plataforma '#{@proveedor.id}'?")) }, :class => 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-trash"></span>
        <%= t('.destroy', :default => t("helpers.links.destroy")) %>
      <% end %>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="well">
    <h3><%= t('mio.proveedor_show') %></h3>
    <% unless @cursos.nil? -%>
      <% unless @cursos.empty? -%>
        <%= render partial: "cursos/tabla2", locals: {registros: @cursos} %>
      <% end -%>
    <% end -%>
  </div>
</div>
