<div id='buscador' class='col-lg-8 col-md-7 col-sm-6 col-xs-12'>

  <h2><%= t('.resend_unlock_instructions') %></h2>

  <%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, class: "form-horizontal" }) do |f| %>
    <%= f.error_notification %>
    <%= f.full_error :unlock_token %>

    <div class="form-group">
      <%= f.label :email, :class => "col-sm-2 control-label" %>
      <div class="col-sm-9">
        <%= f.email_field :email, required: true, autofocus: true, :class => "form-control" %> 
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, t('.resend_unlock_instructions'), :class => 'btn btn-default' %>
    </div>
  <% end %>

</div>

<%#= render "devise/shared/links" %>
