<div id='buscador'>

  <h2><%= t('.change_your_password') %></h2>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "form-horizontal" }) do |f| %>
    <%= f.error_notification %>

    <%= f.input :reset_password_token, as: :hidden %>
    <%= f.full_error :reset_password_token %>

    <div class="form-group">
      <%= f.label t('mio.nueva_password'), :class => "col-sm-2 control-label" %>
      <div class="col-sm-9">
        <%= f.password_field :password, required: true, autofocus: true, placeholder: ("#{@minimum_password_length} caracteres mínimo" if @minimum_password_length), :class => "form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label t('mio.confirme_password'), :class => "col-sm-2 control-label" %>
      <div class="col-sm-9">
        <%= f.password_field :password_confirmation, required: true, :class => "form-control" %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, t('mio.cambiar_password'), :class => 'btn btn-default' %>
    </div>
  <% end %>

</div>

<%#= render "devise/shared/links" %>


