<div id="content">
	<div id="section4" class="container-fluid">

		<span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= t("mio.actualizacion") %>
				<br />
				<br />
		<div class="row">
			<div class="col-lg-5 col-md-5 col-sm-12 hidden-xs">
				<h3><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> <%= t("mio.objetivos_cabecera") %></h3>
				<hr />
				<br />
				<p><%= raw(t("mio.objetivos")) %></p>
				<br />
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"> 
				<h3><span class="glyphicon glyphicon-home" aria-hidden="true"></span> <%= t("mio.proyecto_cabecera") %></h3>
				<hr />
				<br />
				Pedro Manuel Muñoz Morales
				<br />
				<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <a href="mailto:pmunoz85@alumno.uned.es">	pmunoz85@alumno.uned.es</a>
				<br />
				<br />
				Director: Francisco Iniesto Carrasco
				<br />
				The Open University, Reino Unido				
				<br />
				<br />
				Codirectora: Covadonga Rodrigo San Juan
				<br />
				Lenguajes y Sistemas Informáticos
				<br />
				<br />
				UNED - Grado en Ingeniería Informática
				<br />
			    © 2018 <%= t("mio.pfg") %>
				<br />
			</div>
			<div class="col-lg-4 col-md-4 hidden-sm hidden-xs"> 
				<h3><span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span> <%= t("mio.tecnologias_cabecera") %></h3> 
				<hr />
				<br />
				<p><%= raw(t("mio.tecnologias")) %></p>
			</div>
		</div>

	</div>
</div>
